@model JobPortalMVC.Models.Joboffer
@*@using MultipleModelInOneView;
@model dynamic*@

@{
    ViewData["Title"] = "Details";
}

@{
    var base64 = Convert.ToBase64String(Model.EmployerEmployer.Logo);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}
<div class="companyInfo">
    <div class="logo"><img class="logoImg" src="@imgSrc"></div>
    <div class="name">@Html.DisplayFor(model => model.EmployerEmployer.Name)</div>
    <div class="basicInfo">
        <div class="empNum"><i class="fa fa-user" aria-hidden="true"></i> @Html.DisplayFor(model => model.EmployerEmployer.EmployeesNumber)</div>
        <div class="email"><i class="fa fa-envelope-o" aria-hidden="true"></i> @Html.DisplayFor(model => model.EmployerEmployer.Email)</div>
        <div class="web"><i class="fa fa-globe" aria-hidden="true"></i> @Html.DisplayFor(model => model.EmployerEmployer.Page)</div>
    </div>
</div>

<div class="fourBlock">
    <div class="smallContainer">
        <i style="color:green" class="fa fa-usd"></i>
        <label style="text-align:center"><b>@Html.DisplayFor(model => model.SalaryMin)-@Html.DisplayFor(model => model.SalaryMax) zł</b><br>Podstawa(brutto)</label>
    </div>
    <div class="smallContainer">
        <i style="color:green" class="fa fa-money"></i>
        <label style="text-align:center"><b>@Html.DisplayFor(model => model.CommissonMin)-@Html.DisplayFor(model => model.CommissonMin) zł</b><br>Prowizja(brutto)</label>
    </div>
    <div class="smallContainer">
        <i style="color:darkviolet" class="fa fa-briefcase"></i>
        <label style="text-align:center">
            <b>
                @foreach (var item in Model.Jobtypejoboffers)
                {
                    @Html.DisplayFor(model => item.JobTypeJobType.JobTypeName)
                    @*@Html.&nbsp;*@
                }

            </b><br>Rodzaj
        </label>
    </div>
    <div class="smallContainer">
        <i style="color:darkred" class="fa fa-car"></i>
        <label style="text-align:center"><b>@Html.DisplayFor(model => model.CompanyCar)</b><br>Samochód</label>
    </div>
</div>

<div class="mainInfo">
    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <p class="text-muted">Koniec rekrutacji: @Html.DisplayFor(model => model.EndDate)</p>
    <label>
        @Html.DisplayFor(model => model.Content)
    </label>
</div>

<div class="fourBlock">
    <div class="smallContainer">
        <i style="color:darkred" class="fa fa-users"></i>
        <label style="text-align:center"><b>@Html.DisplayFor(model => model.ClientTypeClientType.ClientTypeName)</b><br>Klient</label>
    </div>
    <div class="smallContainer">
        <i style="color:darkkhaki" class="fa fa-building"></i>
        <label style="text-align:center"><b>@Html.DisplayFor(model => model.IndustryIndustry.IndustryName)</b><br>Branża</label>
    </div>
    <div class="smallContainer">
        <i style="color:darkblue" class="fa fa-clock-o"></i>
        <label style="text-align:center"><b>@Html.DisplayFor(model => model.SalesCycleLengthSalesCycleLength.SalesCycleLengthName)</b><br>Cykl sprzedarzy</label>
    </div>
    <div class="smallContainer">
        <i style="color:darkviolet" class="fa fa-database"></i>
        <label style="text-align:center"><b>@Html.DisplayFor(model => model.ClientDatabaseClientDatabase.ClientDatabaseName)</b><br>Baza</label>
    </div>
</div>

<div class="mainInfo">
    <h2>Lokalizacja</h2>
    <label>
        @Html.DisplayFor(model => model.CityCity.CityName)
    </label>
</div>

<div class="mainInfo">
        <form asp-controller="JobOffercandidates" asp-action="AddAplication">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JobOfferId" />
            <div class="form-group">
                <input type="submit" value="Aplikuj" class="btn btn-primary" />
            </div>
        </form>  
</div>