@model IEnumerable<JobPortalMVC.Models.Joboffer>

@{
    ViewData["Title"] = "Main";
}

<div>
    <div class="btns-conteiner">
        <button onclick="showFilter()" class="btn btn-primary"><i class="fa fa-filter"></i> Filtruj</button>
        
    </div>
    <div>
        <ul class="main-ul">
            @foreach (var item in Model)
            {
                <li>
                    <div class="listElement">

                        <div class="logo">
                            <a type="button" class="detailsBtn" asp-controller="JobOffers" asp-action="Details" asp-route-id="@item.JobOfferId">
                                <img class="logoImg" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(item.EmployerEmployer.Logo))">
                            </a>
                        </div>

                        <div class="title">@Html.DisplayFor(modelItem => item.Title)</div>
                        <div class="salary">
                            @((item.SalaryMin != null & item.SalaryMax != null)? (item.SalaryMin+" - " + item.SalaryMax + " zł") : "Nie podano")
                            @*@Html.DisplayFor(modelItem => item.SalaryMin) - @Html.DisplayFor(modelItem => item.SalaryMax) zł*@
                        </div>

                        <div class="job-details-btn">
                            <a type="button" class="btn btn-light" asp-controller="JobOffers" asp-action="Details" asp-route-id="@item.JobOfferId">
                                Szczegóły
                            </a>
                        </div>

                        <div class="companyName"><i class="fa fa-university"></i> @Html.DisplayFor(modelItem => item.EmployerEmployer.Name)</div>
                        <div class="location"><i class="fa fa-map-marker"></i> @Html.DisplayFor(modelItem => item.CityCity.CityName)</div>
                        <div class="industry"><i class="fa fa-building"></i> @Html.DisplayFor(modelItem => item.IndustryIndustry.IndustryName)</div>
                        <div class="clientType"><i class="fa fa-users"></i> @Html.DisplayFor(modelItem => item.ClientTypeClientType.ClientTypeName)</div>
                        <div class="position"></div>
                        <div></div>
                    </div>
                </li>
            }
        </ul>

        <div id="Popup" style="visibility:hidden">
            <div  style="background-color: rgba(0, 0, 0, 0.5); overflow-y: scroll; " class="modal show d-block" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Filtruj ogłoszenia</h5>
                            <button onclick="hideFilter()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form asp-action="Main" >
                            <div class="modal-body">

                                <div class="mb-3">
                                    <label class="form-label">Podstawa</label>
                                    <input style="margin-bottom:10px" class="form-control" type="number" name="salaryMin" placeholder="min">
                                    <input class="form-control" type="number" name="salaryMax" placeholder="max">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Premia</label>
                                    <input style="margin-bottom:10px" class="form-control" type="number" name="commissonMin" placeholder="min">
                                    <input class="form-control" type="number" name="commissonMax" placeholder="max">
                                </div>


                                <div class="mb-3">
                                    <label class="form-label">Baza leadów</label>
                                    <select class="form-control" asp-items="ViewBag.ClientDatabaseClientDatabaseId" multiple></select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Branża</label>
                                    <select class="form-control" asp-items="ViewBag.IndustryIndustryId" multiple></select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Typ klienta</label>
                                    <select class="form-control" asp-items="ViewBag.ClientTypeClientTypeId" multiple></select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Stanowisko</label>
                                    <select class="form-control" asp-items="ViewBag.PositionPositionId" multiple></select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Rodzaj pracy</label>
                                    <select class="form-control" asp-items="ViewBag.JobTypeJobTypeId" multiple></select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Dł. cyklu sprzedażowego</label>
                                    <select class="form-control" asp-items="ViewBag.SalesCycleLengthSalesCycleLengthId" multiple></select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Miasto</label>
                                    <select class="form-control" asp-items="ViewBag.CityCityId" multiple></select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Rodzaj pracy</label>
                                    <select class="form-control" asp-items="ViewBag.JobTypeJobTypeId" multiple></select>
                                </div>

                                @*<div class="mb-3">
                <label class="form-label">Baza klientów</label>
                <div class="list-group">

                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        Tak
                    </label>
                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        Nie
                    </label>
                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        Częściowo
                    </label>
                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        Nie dotyczy
                    </label>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Branża</label>
                <div class="list-group">
                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        IT
                    </label>
                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        FMCG
                    </label>
                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        Produkcja
                    </label>
                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        Moto
                    </label>
                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        Finanse
                    </label>
                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        TLS
                    </label>
                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        Energetyczna
                    </label>
                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        Inne
                    </label>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Klient</label>
                <div class="list-group">
                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        B2B
                    </label>
                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        B2C
                    </label>
                </div>
            </div>*@

                                @*<div class="mb-3">
                <label class="form-label">Długość procesu sprzedaży</label>
                <div class="list-group">

                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        &lt; 3 mies.
                    </label>

                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        3 - 6 mies.
                    </label>
                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        &gt; 6 mies.
                    </label>

                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Stanowisko</label>
                <div class="list-group">

                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        Przedstawiciel
                    </label>
                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        Dyrektor sprzedaży
                    </label>
                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        Kierownik sprzedaży
                    </label>

                </div>
            </div>*@

                                @*<div class="mb-3">
                <label class="form-label">Rodzaj pracy</label>
                <div class="list-group">

                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        Stacjonarna
                    </label>
                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        Wyjazdowa
                    </label>
                    <label class="list-group-item">
                        <input class="form-label" type="checkbox" value="">
                        Zdalna
                    </label>
                </div>
            </div>*@

                                <div class="mb-3">
                                    <label class="form-label">Samochód firmowy</label>
                                    <div class="list-group">
                                        <label class="list-group-item">
                                            <input class="form-label" type="checkbox" value="">
                                            Tak
                                        </label>
                                        <label class="list-group-item">
                                            <input class="form-label" type="checkbox" value="">
                                            Nie
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button onclick="hideFilter()" type="button" class="btn btn-light" data-dismiss="modal">Zamknij</button>
                                <button type="submit"  class="btn btn-primary">Filtruj</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

     
    </div>
</div>

<script>
    // When the user clicks on <div>, open the popup
    function showFilter() {
        //var popup =
            document.getElementById("Popup").style.visibility = "visible";
       // popup.classList.toggle("show");
    }
    function hideFilter() {
        document.getElementById("Popup").style.visibility = "hidden";
        //var popup = document.getElementById("Popup");
        //popup.classList.toggle("hide");
    }
</script>
